.calendar-list,
.calendar-list-wrapper {
  display: flex;
  width: 100%;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

#inputValue {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  touch-action: none;
  top: -9999px;
  left: -9999px;
}
